* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body {
    height: 100%;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr; 
}

.sidebar {
    background-color: lightblue;
    grid-row: 1/-1;
}


header {
    padding: 16px;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
}
.headertop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.left > img,
.right > img {
    width: 20px;
    height: 20px;
}

.headertop .left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headertop .right {
    display: flex;
    align-items: center;
    gap: 15px;
}

.headertop .icon {
    width: 35px;
    height: 35px;
}

.headerbottom {
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.headerbottom .accountinfo {
    display: flex;
    align-items: center;
}

.accountinfo .icon {
    width: 45px;
    height: 45px;
}

.header .icon {
    background-color: lightgray;
    border-radius: 9999px;
}

.main {
}

.menu {
    display: flex;
    align-items: center;
    padding: 4px;
    gap: 15px;
}

.title.menu img {
    display: block;
    width: 50px;
    height: 50px;
}

.menu img {
    display: block;
    width: 30px;
    height: 30px;
}

.main {
    display: flex;
    gap: 15px;
    padding: 30px 20px;
}

.main h2 {
    margin-bottom: 15px;
}

.pjboard {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, minmax(200px, 1fr));
    gap: 20px;
}

.card {
    background-color: aliceblue;
    border-radius: 10px;
    padding: 25px;
    min-height: 200px;
    display: flex;
    flex-direction: column;
}

.card .icon {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
}

.card .icon img{
    width: 25px;
    height: 25px;
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    max-inline-size: 66ch;
    margin-bottom: 8px;
}

.notifications {
    max-width: 27%;
}

.announce {
    background-color: aliceblue;
    padding: 25px;
    border-radius: 10px;
}

.announce h3 {
    margin-bottom: 8px;
}

.announce p {
    margin-bottom: 20px;
}

.announce hr {
    margin-bottom: 20px;
}