@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Bold.woff2) format('woff2'),
        url(fonts/Roboto-Bold.woff) format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Light.woff2) format('woff2'),
        url(fonts/Roboto-Light.woff) format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url(fonts/Roboto-Medium.woff2) format('woff2'),
        url(fonts/Roboto-Medium.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    --card-background-color: #ffffff;
}

html,body {
    height: 100%;
}

body {
  font-family: "Roboto", system-ui, -apple-system, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
  color: rgb(60,60,60);
}

a {
    text-decoration: none;
}

a:visited {
    color: #ffffff;
}

a:hover {
    font-size: 1.1rem;
}

.wrapper {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: auto 1fr; 
}

.sidebar {
    background-color: #1992d4;
    grid-row: 1/-1;
    color: #ffffff;
}

.sidebar > .menu:nth-child(8) {
    margin-top: 50px;
}


header {
    padding: 16px;
    padding-right: 32px;
    box-shadow:2px 2px 4px rgba(0,0,0,0.3);
    z-index: 1;
    position: sticky;
}
.headertop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.left > img,
.right > img {
    width: 20px;
    height: 20px;
}

.headertop .left {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}

.headertop .right {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-right: 15px;
    font-size: 1.2rem;
    font-weight: 500;
}

.headertop input {
    width: 60%;
    height: 20px;
    border-style: none;
    border-radius: 9999px;
    background-color: lightgray;
    padding-left: 8px;
}

.headertop .icon, .account .icon {
    width: 40px;
    height: 40px;
}

.headerbottom {
    display:flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.headerbottom .accountinfo {
    display: flex;
    align-items: center;
    gap: 15px;
}

.accountinfo .icon {
    width: 45px;
    height: 45px;
}

.accountinfo .username {
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 4px;
}

.header .icon, .account .icon {
    background-color: lightgray;
    border-radius: 9999px;
}

.usericon {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.headermenu button {
    background-color: #1992d4;
    color: #ffffff;
    border-style: none;
    width: 100px;
    height:30px;
    border-radius: 9999px;
    margin: 0 10px;
}

.menu {
    display: flex;
    align-items: center;
    gap: 15px;
}

.sidebar > .menu {
    margin: 8px 8px;
    padding: 4px;
    gap: 15px;
}

.title.menu svg {
    display: block;
    width: 50px;
    height: 50px;
    fill: #ffffff;
}

.menu svg {
    display: block;
    width: 30px;
    height: 30px;
    fill: #ffffff;
}

.main {
    display: flex;
    gap: 15px;
    padding: 30px 20px;
    background-color: #e2e8f0;
    overflow: auto;
}

.main h2 {
    margin-bottom: 10px;
}

.main p{
    color: rgb(100,100,100);
    font-size: 0.9rem;
}

.pjboard {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, minmax(200px, 1fr));
    gap: 20px;
}

.card, .trending, .announce {
    background-color: var(--card-background-color);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.card {
    height: 200px;
    display: grid;
    grid-template-rows: auto auto 1fr;
}

.card .icon {
    display: flex;
    gap: 30px;
    margin-top: auto;
    margin-left: auto;
}

.card .icon img{
    width: 25px;
    height: 25px;
}

.card h3 {
    margin-bottom: 8px;
}

.card p {
    max-inline-size: 66ch;
    margin-bottom: 8px;
    overflow: scroll;
}


.notifications {
    width: 40%;
    height: 100%;
}

.announce h3 {
    margin-bottom: 8px;
}

.announce hr {
    margin: 20px 0;
}

.trending {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow: scroll;
    gap: 20px;
}

.account {
    display: flex;
    align-items: center;
    gap:15px;
}

.topic {
    margin-top: 15px;
}